@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 1000px;
  margin: 30px auto;
  overflow: auto;
  min-height: 500px;
  border: 1px solid rgb(2, 56, 53);
  padding: 15px;
  border-radius: 5px;
}
.loginContainer {
  max-width: 600px;
  margin: 30px auto;
  margin-top: 5px;
  overflow: auto;
  min-height: 200px;
  border: 1px solid rgb(2, 56, 53);
  padding: 15px;
  border-radius: 5px;
}

.alignHeader{
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.loginBtn{
  display: inline-block;
  color: rgb(0, 0, 0);
  border:#f2f2f2;
  background-color: #f2f2f2;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 40px;
  font-family: inherit;
}
.butn {
  display: inline-block;
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}


.loginBtn:hover {
  color: rgb(0, 63, 49);
}

.butn:focus {
  outline: none;
}
.butn:hover {
  color: rgb(0, 235, 223);
}

.butn:active {
  transform: scale(0.98);
}

.butn-block {
  display: block;
  width: 100%;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.cancel{
  color: #000;
  cursor: pointer;
}

.cancel:hover{
  color:rgb(155, 5, 5); 
}

.task {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.task.reminder {
  border-left: 5px solid green;
}

.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-form {
  margin-bottom: 40px;
}

.form-contro {
  margin: 20px 0;
}

.form-contro label {
  display: block;
}

.form-contro input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-contro-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-contro-check label {
  flex: 1;
}

.form-contro-check input {
  flex: 2;
  height: 20px;
}

footer {
  margin-top: 30px;
  text-align: center;
}
.label{
  font-size: 17px;
  color: #000;
  text-align: left;
}
.dashboardC{
  margin-top: 30px;
  margin-left: 7.5%;
  max-width: 85%;
}
.tableHead{
  font-size: 20px;
  text-align: center;
  background-color:#1b1b1b;
}
.tableRow{
  font-size: 18px;
  background-color: grey;
  text-align: center;
}

.shiftCarousel{
  height:100%;
  width:100%;
  margin-left: 0%;
  margin-right: 0%;
  margin-top: -10px;
  margin-bottom: -10px;
}
.shiftImage{
  height: 635px;;
  width: 100%;
  padding-top: 0px;
  margin-top: 0px;
}
.deleteBtn{
  background-color: rgba(0, 0, 0, 0);
  color: rgb(204, 17, 17);
  border: none;
 
}
.addRestricted{
  margin-top: 20px;
  width: 50%;
  margin-left: 25%;
}
.submitBtn{
  font-size: 15px;
  width: 70px;
  height: 38px;
  border: none;
  background-color: #0b0b0b;
  color: #ffffff;
}
.submitBtn:hover{
  color: cyan;
}
.submitBtn2{
  font-size: 15px;
  width: 70px;
  height: 38px;
  border: none;
  border-radius: 10px;
  background-color: rgb(114, 7, 7);
  color: #ffffff;
}
.submitBtn2:hover{
  border: solid 1px black;

}