@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
}

.container {
    max-width: 1000px;
    margin: 30px auto;
    overflow: auto;
    min-height: 500px;
    border: 1px solid rgb(2, 56, 53);
    padding: 15px;
    border-radius: 5px;
}
.loginContainer {
    max-width: 600px;
    margin: 30px auto;
    margin-top: 5px;
    overflow: auto;
    min-height: 200px;
    border: 1px solid rgb(2, 56, 53);
    padding: 15px;
    border-radius: 5px;
}

.alignHeader {
    text-align: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.loginBtn {
    display: inline-block;
    color: rgb(0, 0, 0);
    border: #f2f2f2;
    background-color: #f2f2f2;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 40px;
    font-family: inherit;
}
.butn {
    display: inline-block;
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: inherit;
}

.loginBtn:hover {
    color: rgb(0, 63, 49);
}

.butn:focus {
    outline: none;
}
.butn:hover {
    color: rgb(0, 235, 223);
}

.butn:active {
    transform: scale(0.98);
}

.butn-block {
    display: block;
    width: 100%;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
}
.cancel {
    color: #000;
    cursor: pointer;
}

.cancel:hover {
    color: rgb(155, 5, 5);
}

.task {
    background: #f4f4f4;
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.task.reminder {
    border-left: 5px solid green;
}

.task h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.add-form {
    margin-bottom: 40px;
    margin-top: 20px;
    padding-bottom: 10px;
    margin-left: 27.5%;
    width: 45%;
    border-radius: 10px;
    background-color: #f2f2f2;
}

.form-contro {
    margin: 20px 0;
}

.form-contro label {
    display: block;
}

.form-contro input {
    width: 100%;
    height: 40px;
    margin: 5px;
    padding: 3px 7px;
    font-size: 17px;
}

.form-contro-check {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-contro-check label {
    flex: 1;
}

.form-contro-check input {
    flex: 2;
    height: 20px;
}

footer {
    margin-top: 30px;
    text-align: center;
}
.label {
    font-size: 17px;
    color: #000;
    text-align: left;
}
.dashboardC {
    margin-top: 30px;
    margin-left: 7.5%;
    max-width: 85%;
}
.tableHead {
    font-size: 20px;
    text-align: center;
    background-color: #0c0c0c !important;
}
.tableRow {
    font-size: 16px;
    color: #000;
    background-color: rgb(255, 255, 255) !important;
    text-align: center;
}
.tableRow:hover {
    font-size: 16px;
    color: #000 !important;
    background-color: rgb(255, 255, 255) !important;
    text-align: center;
}

.shiftCarousel {
    height: 100%;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: -10px;
    margin-bottom: -10px;
}
.shiftImage {
    height: 635px;
    width: 100%;
    padding-top: 0px;
    margin-top: 0px;
}
.deleteBtn {
    background-color: rgba(0, 0, 0, 0);
    color: rgb(204, 17, 17);
    border: none;
    margin: none;
}
.addRestricted {
    background-color: rgba(0, 0, 0, 0);
    margin-top: 20px;
    width: 50%;
    margin-left: 25%;
}
.submitBtn {
    font-size: 15px;
    width: 70px;
    height: 38px;
    border: none;
    background-color: #0b0b0b;
    color: #ffffff;
}
.submitBtn:hover {
    color: #ffffff;
}
.submitBtn2 {
    font-size: 15px;
    width: 70px;
    height: 38px;
    border: none;
    border-radius: 10px;
    background-color: rgb(114, 7, 7);
    color: #ffffff;
}
.submitBtn2:hover {
    border: solid 1px black;
}

.dropbtn {
    background-color: rgb(85, 85, 219);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    transition: all 0.3s;
    padding-left: 23x;
    padding-right: 23px;
    /* height: 100%; */
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: rgb(252, 188, 49);
}

.navElements {
    float: left;
}
.dropbtn {
    padding-left: 23x;
    padding-right: 23px;
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
}
button.dropbtn {
    width: 200px !important;
    height: 40spx !important;
}

input.form-control.border.no-shadow.no-rounded {
    top: 8px;
}
button.btn.btn-success.no-rounded {
    margin-top: 2px !important;
    height: 100%;
    border-radius: 0px;
}
input.form-control.border.no-shadow.no-rounded {
    top: 2px;
    font-size: 30px;
}

.redFont {
    color: red;
}

.howTo-img {
    width: 80%;
    margin-left: 10%;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 20px !important;
    box-shadow: 6px 6px 10px 12px #2e2929;
}

.rem-bg {
    background-color: #fff;
    /* background-image: linear-gradient(0deg, #13274f 0, #002244 100%); */
    /* background-image: repeating-radial-gradient(rgb(13, 78, 197), rgb(8, 19, 68) 10%, rgb(0, 1, 54) 15%); */
    /* background-image: repeating-radial-gradient(rgb(0, 1, 54), rgb(3, 34, 172) 10%, rgb(13, 78, 197) 15%); */
}
